body {
    margin: 0%;
    background-size: 100%;
}

.page {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    background-image: url("Assets/Header.jpeg");
}

.headerP1 {
    color: white;
    font-size: 25px;
    letter-spacing: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.headerP2 {
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: .3rem;
}

.yellowButton {
    background-color: #FDE500;
    height: fit-content;
    width: fit-content;
    letter-spacing: .3rem;
    padding: 5% 40px;
    cursor: pointer;
}

.smallWhiteSign {
    position: absolute;
    left: 400px;
    top: 20px;
}

.secondPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
}

.secondPageP {
    height: 99px;
    width: 636px;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 2rem;
}

.ourServicesPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
    height: 929px;
}

.ourServicesPageP1 {
    letter-spacing: 0.4rem;
}

.ourServicesPageP2 {
    height: 66px;
    width: 764px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.rectanglesInARow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: fit-content;
}

.rectanglesInARow1Rectangle {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;   
}

.shadow {
    box-shadow: 0px 0px 2px 2px #F0F0F0;
}

.ourServicesPage4RectanglesFirstRow {
    align-items: center;
    min-height: 280px;
    width: 270px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.ourServicesPage4Rectangles1RectangleFirstP {
    height: 45px;
    width: 210px;
    text-align: center;
}

.ourServicesPage4Rectangles1RectangleSecondP {
    height: fit-content;
    width: 208px;
}

.ourServicesPage4RectanglesSecondRow {
    align-items: flex-start;
    height: 166px;
    width: 270px;
    padding: 25px 0px 0px 25px;
}

.ourServicesPage4RectanglesSecondRowP {
    margin-block-start: unset;
    margin-block-end: unset;
}

.grayRectangle {
    position: relative;
}

.yellowRectangle {
    position: relative;
    bottom: 18px;
}

.blackPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 241px;
    background-color: black;
}

.blackPage4Rectangles1RectangleP {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    width: 280px;
    text-align: center;
}

.ourPortfolioPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.twoBlackLines {
    width: 400px;
    height: 50px;
    border-top: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.photo {
    width: 100%;
}

.photosYellowRectangle {
    position: relative;
    top: -85%;
    left: 12%;
    height: 70%;
    width: 75%;
    background-color: #FDE500;
}

.containerOfPhotosWhiteRectangle {
    display: flex;
    justify-content: center;
    height: 0px;
}

.photosWhiteRectangle {
    position: relative;
    bottom: 13.5rem;
    right: 7.8rem;
    height: 160px;
    width: 210px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.whiteRectangleFirstP {
    letter-spacing: 0.3rem;
    padding-top: 2rem;
}

.whiteRectangleSecondP {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

.likeWhatYouSeePage {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.viewOurVideoPage {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Assets/ViewOurVideo.jpeg");
}

.viewOurVideoButton {
    font-size: 1.5rem;
}

.ourTeamPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:fit-content;
    padding: 2rem 0;
}

.johnDoe {
    width: 100%;
    max-height: fit-content;
    padding: 5% 0%;
    opacity: 0.6;
    background-color: #FDE500;
    position: relative;
    bottom: 45px;
    text-align: center;
}

.johnDoeText {
    text-align: center;
    padding-bottom: 0%;
    position: relative;
    bottom: 20px;
}

.complicated {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3rem;
}

.white {
    background-color: white;
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: #FDE500;
    width: 100%;
    height: 215px;
}

.firstWhiteRectangle {
    position: relative;
    left: 18rem;
}

.secondWhiteRectangle {
    position: relative;
    right: 19rem;
}

.textLeftImageRight {
    display: flex;
    justify-content: center;
    height: 0px;
}

.textAndImage {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.blackTextAndBlackAndWhiteImage {
    width: 550px;
    height: 340px;
}

.blackText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    background-color: black;
    min-height: 242px;
    position: relative;
    bottom: 660px
}

.blackText > p {
    width: 80%;
    height: 80%;
    line-height: 1.7rem;
    padding-bottom: 2rem;

}

.blackAndWhiteImage {
    min-height: 242px;
    background-image: url(Assets/blackAndWhiteKid.jpeg);
    background-size: cover;
    position: relative;
    bottom: 400px;
}

.whiteRectangle {
    width: 30%;
}

.whiteRectangleText {
    text-align: center;
    line-height: 2rem;
}

.whiteRectangleSignature {
    text-align: right;
    font-weight: bold;
        line-height: 2rem;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 280px;
}

.rectangleInFooterRow {
    height: 230px;
    display:flex;
    color: white;
    width: 30%;
}

.rectanglesInARowLeftRectangleInFooter {
    flex-direction: column;
    padding-bottom: 1rem;
}

.bigWhiteSign {
    display: flex;
    justify-content: flex-start;
}

.footerUnderSignText {
    line-height: 2rem;
}

.rectanglesInARowMiddleRectangleInFooter {
    justify-content: space-evenly;
    padding-top: 2rem;
}

.rectanglesInARowMiddleRectangleInFooterOneColumn {
    display: flex;
    line-height: 2rem;
    width: 50%;
    flex-direction: column;
}

.rectanglesInARowRightRectangleInFooter {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
}

.bold {
    font-weight: bold;
}

.buttonInFooter {
    border-radius: 1.625rem;
    width: 300px;
    font-size: 13px;
    letter-spacing: 0;
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.icon {
    margin: 5px;
}